
.a{
    margin: 5px;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    text-align-last: start;
    font-variant-numeric: tabular-nums;
    padding: 10px 20px;
    margin-right: 160px;
    flex-wrap: wrap;
}

    

.bu{
    margin: 05px;
    
    color: brown;
    background-color: aliceblue;
    border-bottom: 0px;
    border-color: aliceblue;
    border-right: brown;
    flex-wrap: wrap;
   
    
   
}
.butt{

    margin: 03px;
    color: aliceblue;
    background-color: brown;
    border-bottom: 0px;
    border-color: brown;
    border-right: brown;
    border-radius: 5px;
    flex-wrap: wrap;
}
.container{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 10px;
    justify-content: space-between;
   flex-wrap: wrap;
}
.bt{
    padding: 4px 11px;
    cursor:pointer;
    position: relative;
    flex-wrap: wrap;
    
}
.foto1{
    margin: 15px;
    width: 20%;
    justify-content: start;
    flex-wrap: wrap;
    
}
.f{
    width: 260px;
    height: 240px;

}
.entiqueta{
    display: flex;
    justify-content: left;
}